* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	font-family: sans-serif;
	text-align: center;
}